/*  reset css kieu co ban */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*/
1.Vị trí
2.Kích thước(width, height)
3.Màu sắc
4.Kiểu dáng(kiểu chữ, hình tròn, vuông...)
/*/

/* common */
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
.text-while{
    color: #fff;!important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content:"";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-3{
    width: 33.33333%;
}

.col-2{
    width: 50%;
}

.col-1{
    width: 100%;
}

.text-center{
    text-align: center;
}


/* main */
#main{
    width: 100%;
}

#header{
height: 46px;
background-color: black;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;
}

#nav{
    display: inline-block;
    font-size: 15px;


}

#nav>li{
    display: inline-block;
    text-transform: uppercase;

}

#nav li{
    
    position: relative;
}

#nav .subnav{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    color: black;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;

}

#nav>li>a{
    color: aliceblue;
    #slider .text-transform: uppercase;

}

#nav li a{
    display: block;
    #slider .text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
}

#nav li:hover .subnav{
    display: block;
}

#nav>li:hover>a{
    color: black;
    background-color: #ccc;

}

#nav .nav-icon{
    font-size: 10px;
    
}

#header .search-btn{
    float: right;
    padding: 0 20px;

}
#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}


#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center / cover no-repeat;
}   

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%) ;
    text-align: center;

}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}
#slider .text-description{
    font-size: 15px;
}
/* content */
#content{

}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .section-heading{
    margin: 10px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    height: 45px;
    text-align: center;
}

#content .sub-heading{
    margin:15px;
    font-size: 15px;
    height: 22px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}

#content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin: 15px;
}

#content .member-name{
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img{
    width: 154px;
    border-radius: 4px;
}
/* tour  */
/* ticket  */
.tour-section{
    background-color: #000;
}

.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
 
    
}
.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    text-decoration: none;
}

.ticket-list .sold-out{
    padding: 3px 8px;
    margin: 0 16px;
    background-color: #f44336;
    color: #fff;
    
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin: -3px;
}
/* place */
.places{
    padding: 32px 0px;
}

.places .place-img{
    width: 100%;
    display: block;
}
.places .place-img:hover{
    opacity: 0.6;
}

.places .place-heading{
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 550;
}

.places .place-time{
 color: #757575;
 margin-bottom: 15px;
}

.places .place-content{
 margin-bottom: 15px;
 line-height: 1.4;
}

.places .button-buy{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;

}
.places .button-buy:hover{
    background-color: #ddd;
    color: #000;
    cursor: pointer;
}

.places .place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}
/* contact */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.send-button{
    margin-top: 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}
.send-button:hover{
    color: #000;
    background-color: #CCC;
    cursor: pointer;
    border: none;

}

/* map */
.map-section img{
    width: 100%;
}
    
/* footer */
#footer{
    padding: 64px 16px;
    text-align: center;
}

.social-list a{
    font-size: 24px;
    text-decoration: none;
    color: rgba(0,0,0,0.6);

}

.social-list a:hover{
    color: rgba(0,0,0,0.3);
}

#footer p{
    margin: 15px 0;
}

.copyright,
.copyright a{
    font-size: 15px;
    color: rgba(0,0,0,0.6);
}

/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.8s;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal .modal-icon{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.8;
}

.modal-close:hover{
    opacity: 1;
    cursor: pointer;
}

.modal-body{
    padding: 16px;

}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets{
    background-color: #009688;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#buy-tickets:hover{
    cursor: pointer;
    opacity: 0.9;

}

.modal-footer{
    padding: 16px;
    text-align: right;
    font-size: 15px;

}

.modal-footer a{
    color: aqua;
}

@keyframes modalFadeIn{
    from{
        transform: translateY(-170px);
    }
    to{
        transform: translateY(0);
    }
}
